{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
<h1>Bienvenue !</h1>

<img src="https://picsum.photos/1500/800?blur" alt="Le collège" class="img-fluid">

<p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nulla ad, quia atque inventore delectus
        voluptates, eaque ducimus dignissimos veritatis, pariatur accusantium sint ullam blanditiis. Unde qui sequi
        accusamus voluptates.</span><span>Dolorum repellat tempore nam tenetur facere magni repellendus dolore odit,
        suscipit rem ipsa cumque quia dolores natus perferendis nobis itaque sint error neque beatae! Maiores suscipit
        facere molestiae quaerat mollitia!</span><span>Dignissimos dicta exercitationem error consequuntur cumque quidem
        qui, minima amet fugiat magni voluptatum harum optio earum aliquam doloremque quasi sunt quo adipisci quos.
        Tenetur numquam nemo magnam neque, dolor reiciendis?</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptas corrupti cumque aperiam esse ea,
        maiores blanditiis unde, voluptatum praesentium quos possimus. Magni, adipisci! Fuga rem accusantium eligendi
        quis voluptatum?</span><span>Sed libero quod facilis ab similique pariatur sunt aliquid eius provident deserunt
        quaerat nesciunt, laborum ducimus odio praesentium aspernatur fuga perspiciatis tempora ad incidunt labore
        minus? Libero quae dolorum deleniti!</span><span>Nobis enim, ad harum repudiandae repellendus placeat alias
        libero molestias vitae mollitia animi perferendis deleniti amet non maiores asperiores quis quibusdam sed rem
        ipsam odit sapiente? Alias, magni. Ipsum, doloremque.</span></p>
<p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, aut dolorem qui doloribus numquam quos
        voluptates corrupti. Distinctio debitis, veritatis voluptatem dicta explicabo commodi illo fugit illum, ratione
        magnam dolor!</span><span>Esse, temporibus! Natus, minus dignissimos distinctio quae ipsum accusantium quidem
        velit obcaecati sit animi dolore sapiente eius ut, temporibus quisquam amet a et consequuntur. Perferendis,
        dolor consequuntur. Totam, culpa assumenda.</span><span>Nostrum praesentium obcaecati numquam. Quasi
        perspiciatis pariatur rem, placeat repellendus excepturi quos. Iusto minima provident, odio, maiores voluptas
        vitae ipsa cumque quod laudantium, ut doloribus dolorem illo maxime quas quidem.</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio velit mollitia assumenda numquam reiciendis,
        magni ratione vel laboriosam quae quos beatae cum porro unde eveniet reprehenderit esse! Dolore, nam
        accusamus.</span><span>Perferendis, vero. Aspernatur dolore asperiores eligendi labore excepturi eveniet ad
        veniam rerum blanditiis architecto consectetur libero harum, atque, ratione eos ullam animi! Sequi maiores
        dolore eos inventore esse nam voluptas?</span><span>Maiores quas, quam iste ex nulla cum. Omnis, ex perspiciatis
        possimus ipsa delectus earum temporibus, esse aspernatur ratione neque placeat. Repellendus neque mollitia quia
        animi maiores illum ex veniam adipisci.</span></p>
<p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque animi hic corrupti voluptatibus porro, esse
        numquam unde sit adipisci, assumenda laudantium aperiam sunt accusantium perspiciatis voluptates error
        asperiores a optio?</span><span>Placeat temporibus fuga non eaque animi, aliquam fugit hic veniam in illum
        cumque, atque vel tempore recusandae veritatis. Ab voluptates soluta, voluptatibus quis quas aliquam officia
        assumenda velit iste fugit.</span><span>Animi perspiciatis architecto repudiandae, cum optio in. Voluptatem
        libero similique quibusdam consequuntur, laudantium vel eum inventore repellat nisi commodi, quos fuga odio,
        ratione impedit quo eius perferendis ad neque aspernatur.</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corporis possimus aspernatur praesentium
        mollitia soluta accusamus, aliquam officiis repellat porro in omnis. Voluptate ipsa ipsam et. Molestiae
        voluptates aspernatur nesciunt?</span><span>Deleniti ipsam natus autem, reiciendis totam delectus nesciunt!
        Deleniti facilis impedit suscipit. Ipsam ducimus, ex laborum numquam nam laboriosam quaerat laudantium ipsum
        consequatur! Doloribus, qui vel eum at reiciendis quae.</span><span>Quos, atque quaerat ea quae soluta
        temporibus iste aspernatur, totam voluptates accusamus porro. Ad consectetur dolores totam aperiam inventore
        ipsa repudiandae laborum nobis odit quae iusto voluptas expedita, asperiores molestiae?</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, impedit culpa dolore, provident ad quia ea nam
        nesciunt vitae illum mollitia et consequatur aliquid, ipsum repellat id delectus architecto
        a.</span><span>Deleniti dolore possimus consequuntur voluptatibus quibusdam animi blanditiis doloribus, error
        corporis cupiditate itaque quo, dolorum veniam, nemo architecto eveniet eaque in natus incidunt eius. Nemo omnis
        voluptas nobis. Fugiat, debitis.</span><span>Sequi, ratione. Inventore ab tempora laborum nemo, facere molestias
        asperiores quidem voluptatibus iusto, officiis doloribus facilis dicta expedita. Ducimus nam mollitia unde error
        sint beatae deserunt culpa, tempore reiciendis iste.</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium harum omnis quidem ex, mollitia suscipit
        tenetur perferendis placeat eaque id fugiat exercitationem esse saepe a! Aperiam eos nostrum qui
        sed?</span><span>Aliquam porro quis velit eligendi nobis corrupti qui architecto, eos maiores incidunt voluptate
        voluptates est, ducimus accusamus, fugiat vero ex. Quas molestias at sequi necessitatibus fugiat, officiis nisi
        obcaecati culpa.</span><span>Repellat soluta in exercitationem nemo dolore, perferendis placeat optio quam eius
        quos neque velit iste accusamus cumque quidem, dolor mollitia adipisci aliquam dolores error, nam totam fuga
        laudantium recusandae! Tenetur.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate atque ea amet. Unde, molestiae sapiente!
        Reprehenderit assumenda quis vitae quod officiis repellat blanditiis mollitia voluptas culpa, error, inventore
        aliquid placeat!</span><span>Explicabo, sunt. Libero soluta numquam reiciendis nisi mollitia hic illum debitis
        explicabo tenetur. Officiis veniam, sed est atque modi ipsam aspernatur dolores laborum molestias, repellendus
        incidunt, corrupti exercitationem perferendis magnam.</span><span>Veritatis eveniet perferendis error adipisci
        perspiciatis dolorem quis? Corporis sint maxime ullam adipisci voluptatem ad aliquam, quidem sapiente eos soluta
        possimus quam nisi vero rem sunt. Quo quos laudantium voluptates?</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cum dolorum exercitationem dolore. Non,
        suscipit deleniti consequatur voluptatibus quaerat alias quo, nostrum iure sit assumenda consectetur, eius
        eveniet quae velit.</span><span>Atque eaque repudiandae voluptates magni! Enim omnis, culpa asperiores non
        molestias eligendi minus ea ducimus ipsum voluptates nulla officiis accusantium exercitationem dolorem dicta,
        corrupti, vitae voluptatem obcaecati praesentium rerum fuga.</span><span>Amet obcaecati libero animi unde,
        voluptatum exercitationem voluptates provident suscipit inventore optio quo assumenda doloribus incidunt laborum
        praesentium temporibus voluptas ad pariatur cum accusamus odio! Odit delectus maxime iusto facere.</span></p>
{% endblock %}